@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Will's Chores</h1>


<div class="list">
    <label>
        <input type="checkbox"/>
        Put on PJ's
    </label>

    <label>
        <input type="checkbox"/>
        Dirty laundry in laundry basket
    </label>

    <label>
        <input type="checkbox"/>
        Teeth brushed
    </label>
    </div>
</div>
