@using chores.Models;
@using System.Collections.Generic
@model Chore
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Will's Chores</h1>


    <form asp-action="Index" method="post">
        <div class="list">
        <input type="hidden" asp-for="ChoreId">
                    <label asp-for="PutOnPJs">
                    <input asp-for="PutOnPJs">
                        Put on PJ's
                    </label>
                    <label asp-for="DirtyLaundry">
                    <input asp-for="DirtyLaundry">
                        Dirty laundry in laundry basket
                    </label>
                    <label asp-for="TeethBrushed">
                    <input asp-for="TeethBrushed">
                        Teeth brushed
                    </label>

                <input type="submit" value="Save"/>
        </div>
    </form>
</div>
