@model IEnumerable<string>
@using System.Collections.Generic
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Will's Chores</h1>


    <div class="list">
        @foreach(var item in Model ?? new List<string>{}) 
        {
            <label>
            <input type="checkbox"/>
                @item
            </label>
        }
    </div>
</div>
